<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/MainApp/css/styles.css">
    <title>{% block title %}Porthree{% endblock %}</title>
</head>

<body>

    <header>
        <h1>{% block header %}Porthree{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'index' %}">About</a></li>
                <li><a href="{% url 'index' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} Porthree. All rights reserved.</p>
    </footer>

</body>

</html>