{% extends 'base.html' %}
{%load static%}

{% block title %}Home - Porthree{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="jumbotron mt-5">
    <div class="col">
        <div class="container-fluid text-center">
            <h1 class="display-4 font-weight-bold align-self-start text-dark">Your Personal Portfolio
                Powerhouse </h1>
            <p class="h2 w-75 w-100 my-5">Elevate your professional journey with Porthree an intuitive portfolio management
                platform designed for effortless skill and achievement showcasing. Our user-friendly interface
                simplifies the process, allowing you to present a polished profile that resonates with employers and
                collaborators. Join Porthree for a streamlined approach to career growth.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{%url 'signup' %}" role="button">Get started</a>
            </p>
        </div>
    </div>
</div>

<!-- End of hero section -->


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-center mb-4 pt-5">
    <h1 class="mb-auto text-gray-800 mb-primary h2 border-bottom border-primary pr-5 font-weight-bold">
        Featured Portfolios</h1>

</div>
<!-- portfolios section -->
<div class="d-flex flex-wrap justify-content-center">
    <!-- portfolio card -->
    <a href="">
        <div class="card shadow-lg py-3 border border-primary m-3" style="width: 300px;">
            <div class=" d-flex justify-content-center mb-3 "><img
                    src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" width="150" height="150"
                    class="rounded-circle" alt=""></div>
            <div class="container">
                <div class="h5 font-bold text-center">Anadu Godwin</div>
                <small class="font-bold">software Engineer</small>
                <div class="card my-3">
                    <div class="dropdown show">
                        <a class="btn btn-success dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            skills
                        </a>
                        <div class="dropdown-menu w-100 border border-success" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ad in voluptate
                    vitae eligendi dicta
                    laudantium dolorum voluptatum hic ex.</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card shadow-lg py-3 border border-primary m-3" style="width: 300px;">
            <div class=" d-flex justify-content-center mb-3 "><img
                    src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" width="150" height="150"
                    class="rounded-circle" alt=""></div>
            <div class="container">
                <div class="h5 font-bold text-center">Anadu Godwin</div>
                <small class="font-bold">software Engineer</small>
                <div class="card my-3">
                    <div class="dropdown show">
                        <a class="btn btn-success dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            skills
                        </a>
                        <div class="dropdown-menu w-100 border border-success" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ad in voluptate
                    vitae eligendi dicta
                    laudantium dolorum voluptatum hic ex.</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card shadow-lg py-3 border border-primary m-3" style="width: 300px;">
            <div class=" d-flex justify-content-center mb-3 "><img
                    src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" width="150" height="150"
                    class="rounded-circle" alt=""></div>
            <div class="container">
                <div class="h5 font-bold text-center">Anadu Godwin</div>
                <small class="font-bold">software Engineer</small>
                <div class="card my-3">
                    <div class="dropdown show">
                        <a class="btn btn-success dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            skills
                        </a>
                        <div class="dropdown-menu w-100 border border-success" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ad in voluptate
                    vitae eligendi dicta
                    laudantium dolorum voluptatum hic ex.</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card shadow-lg py-3 border border-primary m-3" style="width: 300px;">
            <div class=" d-flex justify-content-center mb-3 "><img
                    src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" width="150" height="150"
                    class="rounded-circle" alt=""></div>
            <div class="container">
                <div class="h5 font-bold text-center">Anadu Godwin</div>
                <small class="font-bold">software Engineer</small>
                <div class="card my-3">
                    <div class="dropdown show">
                        <a class="btn btn-success dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            skills
                        </a>
                        <div class="dropdown-menu w-100 border border-success" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ad in voluptate
                    vitae eligendi dicta
                    laudantium dolorum voluptatum hic ex.</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card shadow-lg py-3 border border-primary m-3" style="width: 300px;">
            <div class=" d-flex justify-content-center mb-3 "><img
                    src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" width="150" height="150"
                    class="rounded-circle" alt=""></div>
            <div class="container">
                <div class="h5 font-bold text-center">Anadu Godwin</div>
                <small class="font-bold">software Engineer</small>
                <div class="card my-3">
                    <div class="dropdown show">
                        <a class="btn btn-success dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            skills
                        </a>
                        <div class="dropdown-menu w-100 border border-success" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ad in voluptate
                    vitae eligendi dicta
                    laudantium dolorum voluptatum hic ex.</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                </div>
            </div>
        </div>
    </a>
    <a href="">
        <div class="card shadow-lg py-3 border border-primary m-3" style="width: 300px;">
            <div class=" d-flex justify-content-center mb-3 "><img
                    src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" width="150" height="150"
                    class="rounded-circle" alt=""></div>
            <div class="container">
                <div class="h5 font-bold text-center">Anadu Godwin</div>
                <small class="font-bold">software Engineer</small>
                <div class="card my-3">
                    <div class="dropdown show">
                        <a class="btn btn-success dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            skills
                        </a>
                        <div class="dropdown-menu w-100 border border-success" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ad in voluptate
                    vitae eligendi dicta
                    laudantium dolorum voluptatum hic ex.</p>
                <div class="d-flex justify-content-center">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400 border mx-1"></i>
                </div>
            </div>
        </div>
    </a>
</div>


<!-- porthree about section -->
<div class="container pt-5">
    <div class="container">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
            <h1 class="mb-auto text-gray-800 mb-primary h2 border-bottom border-primary pr-5 font-weight-bold">
                About Porthree</h1>

        </div>
        <div class="container-fluid h5">
            Porthree is a personal portfolio management platform designed to empower individuals to showcase their
            skills,
            achievements, and experiences in a captivating and professional manner. Built by aspiring software
            engineers
            at
            Holberton School, Porthree aims to simplify the process of creating and maintaining a portfolio, freeing
            users
            to
            focus on what truly matters: their career growth and personal development.
        </div>
    </div>
    <!-- end of porthree about section -->



    <!-- porthree feature section -->
    <div class="conatiner-fluid pt-5">
        <div class="conatiner-fluid row border rounded">
            <div class="nav flex-column nav-pills col col-lg-3 border p-1 rounded" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <a class="nav-link active p-2 border font-weight-bold rounded m-1" id="v-pills-home-tab"
                    data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">Envision Your
                    Portfolio Unveiled</a>
                <a class="nav-link p-2 border font-weight-bold rounded m-1" id="v-pills-profile-tab" data-toggle="pill"
                    href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Unleash
                    Your
                    Voice with Engaging Blog Posts</a>
                <a class="nav-link p-2 border font-weight-bold rounded m-1" id="v-pills-messages-tab" data-toggle="pill"
                    href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Embrace
                    Creativity with Project Showcase</a>
                <a class="nav-link p-2 border font-weight-bold rounded m-1" id="v-pills-settings-tab" data-toggle="pill"
                    href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Forge
                    Connections in a Thriving Community</a>
            </div>
            <div class="tab-content col align-self-center text-dark h-100" id="v-pills-tabContent">
                <div class="tab-pane h5 my-auto fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">Step
                    into a world where your expertise and accomplishments take center stage, where your passion and
                    creativity
                    shine
                    through, and where your journey to professional success is seamlessly facilitated. Porthree,
                    your
                    personal
                    portfolio powerhouse, empowers you to craft a captivating digital showcase that highlights your
                    unique
                    value
                    and
                    attracts the opportunities you deserve...
                </div>
                <div class="tab-pane h5 my-auto text-dark fade" id="v-pills-profile" role="tabpanel"
                    aria-labelledby="v-pills-profile-tab">Immerse
                    yourself in the world of thought leadership and share your insights with the world through
                    Porthree's
                    intuitive
                    blog creation tool. Whether you're an expert in your field or a budding enthusiast, Porthree
                    provides
                    you
                    with a
                    platform to express your knowledge, expertise, and passion in a compelling manner....
                </div>
                <div class="tab-pane h5 my-auto text-dark fade" id="v-pills-messages" role="tabpanel"
                    aria-labelledby="v-pills-messages-tab">
                    Transform
                    your most significant projects into captivating presentations that showcase your technical
                    prowess
                    and
                    problem-solving abilities. Porthree's project showcase feature empowers you to create visually
                    appealing
                    and
                    easily digestible summaries of your achievements, captivating the attention of hiring managers,
                    potential
                    clients, and like-minded individuals....
                </div>
                <div class="tab-pane h5 my-auto text-dark fade" id="v-pills-settings" role="tabpanel"
                    aria-labelledby="v-pills-settings-tab">Join a
                    vibrant community of aspiring and experienced professionals who share your passion for personal
                    growth
                    and
                    professional excellence. Porthree's community platform fosters meaningful connections, enabling
                    you
                    to
                    exchange
                    ideas, collaborate on projects, and expand your network, opening doors to new opportunities and
                    collaborations....
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of porthree feature section -->
{% endblock %}