{% extends 'base.html' %}
{%load static%}

{% block title %}Home - Porthree{% endblock %}

{% block content %}
<!-- Hero Section -->
<div class="container mb-4">

    <!-- Content Row -->
    <div class="container vh-100">
        <div class="card shadow mb-4 p-5  bg-primary h-80 d-flex">
            <!-- Hero slider/ carousel -->
            <div id="carouselExampleIndicators" class="carousel slide m-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                    </li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class=" d-flex justify-content-between">
                            <div class=" w-75 text-light d-flex flex-column justify-content-between">
                                <h2 class="display-4 font-weight-bold justify-self-baseline">Anadu
                                    Godwin</h2>
                                <h2 class=" font-weight-bold justify-self-baseline text-success">Anadu
                                    Godwin</h2>
                                <p class="font-bold h4 h-50 my-5">Lorem ipsum dolor sit amet
                                    consectetur
                                    adipisicing elit. Officia
                                    temporibus saepe veritatis cupiditate itaque, ex laborum omnis
                                    voluptas
                                    suscipit voluptatem exercitationem odio, harum modi rerum
                                    commodi
                                    tenetur aperiam adipisci, vitae dicta? Vitae, rerum optio,
                                    temporibus.
                                </p>
                                <div class="d-flex my-2 mb-4 justify-content-between w-50">
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill1</div>
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill2</div>
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill3</div>
                                </div>
                                <div>
                                    <a href="" class="btn btn-secondary">Visit
                                        portfolio...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <h2 class="font-weight-bold display-1 m-auto text-warning">AG</h2>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class=" d-flex justify-content-between">
                            <div class=" w-75 text-light d-flex flex-column justify-content-between">
                                <h2 class="display-4 font-weight-bold justify-self-baseline">Admin
                                    Istrator</h2>
                                <h2 class=" font-weight-bold justify-self-baseline text-success">Admin
                                    Istrator</h2>
                                <p class="font-bold h4 h-50 my-5">Lorem ipsum dolor sit amet
                                    consectetur
                                    adipisicing elit. Officia
                                    temporibus saepe veritatis cupiditate itaque, ex laborum omnis
                                    voluptas
                                    suscipit voluptatem exercitationem odio, harum modi rerum
                                    commodi
                                    tenetur aperiam adipisci, vitae dicta? Vitae, rerum optio,
                                    temporibus.
                                </p>
                                <div class="d-flex my-2 mb-4 justify-content-between w-50">
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill1</div>
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill2</div>
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill3</div>
                                </div>
                                <div>
                                    <a href="" class="btn btn-secondary">Visit
                                        portfolio...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <h2 class="font-weight-bold display-1 m-auto text-warning">AI</h2>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class=" d-flex justify-content-between">
                            <div class=" w-75 text-light d-flex flex-column justify-content-between">
                                <h2 class="display-4 font-weight-bold justify-self-baseline">Ernest
                                    Mbang
                                <h2 class=" font-weight-bold justify-self-baseline text-success">Ernest
                                    Mbang
                                </h2>
                                <p class="font-bold h4 h-50 my-5">Lorem ipsum dolor sit amet
                                    consectetur
                                    adipisicing elit. Officia
                                    temporibus saepe veritatis cupiditate itaque, ex laborum omnis
                                    voluptas
                                    suscipit voluptatem exercitationem odio, harum modi rerum
                                    commodi
                                    tenetur aperiam adipisci, vitae dicta? Vitae, rerum optio,
                                    temporibus.
                                </p>
                                <div class="d-flex my-2 mb-4 justify-content-between w-50">
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill1</div>
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill2</div>
                                    <div class="border card font-weight-bold text-light bg-success px-2">
                                        Skill3</div>
                                </div>
                                <div>
                                    <a href="" class="btn btn-secondary">Visit
                                        portfolio...</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <h2 class="font-weight-bold display-1 m-auto text-warning">EM</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev h-25 my-auto" href="#carouselExampleIndicators" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next h-25 my-auto" href="#carouselExampleIndicators" role="button"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</div>
<!-- End of hero section -->

<!-- Content Row -->
<div class="col">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
        <h1 class="h3 mb-auto text-gray-800 mb-primary h2 border-bottom border-primary pr-5 font-weight-bold">
            Featured Projects</h1>

    </div>
    <!--  -->
    <div class="container-fluid d-flex flex-wrap w-100 justify-content-center" style="gap: 20px;">

        <!-- project card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tool1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See project &rarr;</a>
            </div>
        </div>
        <!-- project card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tool1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See project &rarr;</a>
            </div>
        </div>
        <!-- project card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tool1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See project &rarr;</a>
            </div>
        </div>
        <!-- project card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tool1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See project &rarr;</a>
            </div>
        </div>
        <!-- project card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tool1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See project &rarr;</a>
            </div>
        </div>
        <!-- project card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Project title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tool1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tool3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See project &rarr;</a>
            </div>
        </div>

    </div>
</div>
<!-- featured posts section -->
<div class="col">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-5">
        <h1 class="h3 mb-auto text-gray-800 mb-primary h2 border-bottom border-primary pr-5 font-weight-bold">
            Featured Posts</h1>

    </div>
    <!--  -->
    <div class="container-fluid d-flex flex-wrap w-100 justify-content-center" style="gap: 20px;">

        <!-- Post card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Post title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your Post courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tag1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See Post &rarr;</a>
            </div>
        </div>
        <!-- Post card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Post title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your Post courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tag1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See Post &rarr;</a>
            </div>
        </div>
        <!-- Post card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Post title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your Post courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tag1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See Post &rarr;</a>
            </div>
        </div>
        <!-- Post card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Post title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your Post courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tag1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See Post &rarr;</a>
            </div>
        </div>
        <!-- Post card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Post title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your Post courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tag1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See Post &rarr;</a>
            </div>
        </div>
        <!-- Post card -->
        <div class="card shadow mb-4 border border-danger w-25 shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Post title here</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'MainApp/img/undraw_posting_photo.svg' %}" alt="...">
                </div>
                <p>Add some quality, svg illustrations to your Post courtesy of <a target="_blank" rel="nofollow"
                        href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>

                <div class="text-bold font-weight-bold text-success">User: User name</div>
                <div class="text-bold font-weight-bold text-danger">User title: career</div>
                <div class="text-bold font-weight-bold text-info">Created: 6th december 2023</div>

                <div class="d-flex flex-wrap my-4" style="gap: 5px">
                    <div class="border card font-weight-bold text-light bg-success px-2">tag1</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag2</div>
                    <div class="border card font-weight-bold text-light bg-success px-2">tag3</div>
                </div>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">See Post &rarr;</a>
            </div>
        </div>

    </div>
</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}