<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/MainApp/css/styles.css">
    <title>Your Website Title</title>
</head>
<body>

    <header>
        <h1>Porthree</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <!-- Your main content goes here -->
        <h1> Welcome {{ user }}</h1>

    </main>

    <footer>
        <p>&copy; 2023 Porthree. All rights reserved.</p>
    </footer>

</body>
</html>

