{% extends 'base.html' %}
{%load static%}
{% block title %}Signup - Porthree{% endblock %}

{% block content %}
<!-- Your signup content goes here -->
<div class="container mb-5">

    <div class="card o-hidden border-0 shadow-lg my-5 w-50 m-auto" style="min-width: 300px;">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row ">
                <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
                <div class="col">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create a Porthree Account!</h1>
                        </div>
                        <form class="user" method="post">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors.as_ul }}
                            </div>
                            {% endif %}
                            <div class="form-group">
                                {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    {{ form.username.errors }}
                                </div>
                                {% endif %}
                                {{form.username}}

                            </div>
                            <div class="form-group">
                                {% if form.email.errors %}
                                <div class="alert alert-danger">
                                    {{ form.email.errors }}
                                </div>
                                {% endif %}
                                {{form.email}}

                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-center" style="gap: 2px;">
                                {% if form.password1.errors %}
                                <div class="alert alert-danger">
                                    {{ form.password1.errors }}
                                </div>
                                {% endif %}
                                {% if form.password2.errors %}
                                <div class="alert alert-danger">
                                    {{ form.password2.errors }}
                                </div>
                                {% endif %}
                                <div class="col">
                                    {{ form.password1.label }}
                                    {{ form.password1 }}

                                </div>

                                <div class="col">
                                    {{ form.password2.label }}
                                    {{ form.password2 }}

                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                            <hr>
                            <a href="index.html" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{%url 'password_reset'%}">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{%url 'login'%}">Already in Porthree? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}