{% extends 'portfolio_nav.html' %}

{% block title %}{{user.username}} details - Porthree{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">User details</h1>
</div>

<!-- forms -->
<div class="row ">
    <div class="col-lg-8 align-self-center ">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edit User information</h6>
            </div>
            <div class="card-body">
                <div><img src="{{user_details.profile_picture.url}}"  alt="profile picture" class="w-25"></div>
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.profile_picture.label}} {{form.profile_picture}}
                    </div>
                    <div class="form-group">
                        {{form.resume.label}} {{form.resume}}
                    </div>
                    <div class="form-group">
                        {{form.email.label}}
                        {{form.email}}

                    </div>
                    <div class="form-row">
                        <div class="col">
                            {{form.first_name.label}}
                            {{form.first_name}}
                        </div>
                        <div class="col">

                            {{form.last_name.label}}
                            {{form.last_name}}
                        </div>
                    </div>
                    <div class="form-group">
                        {{form.career_title.label}}
                        {{form.career_title}}

                    </div>
                    <div class="form-group">
                        {{form.phone_number.label}}
                        {{form.phone_number}}

                    </div>
                    <div class="form-group">
                        {{form.about_me.label}}
                        {{form.about_me}}
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>

</div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}